*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #FFF url("../imagens/fundo.png") repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url("../imagens/detalhe-topo.png") no-repeat right top;
    padding-top: 25px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url("../imagens/logo.png") no-repeat center;
    text-indent: -3000px;
}


/*BARRA DE NAVEGAÇÃO*/

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{
    margin-top: 30px;
    background: #B10333;
    float: left;



}

#topo ul li{
    float: left;

}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #FFF;
    background: url("../imagens/divisor.png") no-repeat left center;
}

#topo ul a:hover{
    color: #69001D;
}

#topo ul .primeiro a{
    background: none;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos{
    color: #FFF;
    background: #DE003E;
}

body.home #navegacao a#home:hover,
body.brasil #navegacao a#brasil:hover,
body.internacional #navegacao a#internacional:hover,
body.economia #navegacao a#economia:hover,
body.saude #navegacao a#saude:hover,
body.ciencia #navegacao a#ciencia:hover,
body.fotos #navegacao a#fotos:hover{
    color: #69001D;
}

/*Configurações do layout de três colunas*/

#conteudo{
    background: #F5F5F5;
    margin-top: 60px;
}

#primario{
    width: 270px;
    background: #AAAAFF;
    float: left;
    margin: 0 0 20px 195px;
}

#secundario{
    width: 270px;
    background: #AAFFAA;
    float: left;
    margin: 0 0 20px 15px;
}

#lateral{
    width: 180px;
    background: #FFFFAA;
    float: left;
    margin: 0 0 20px -750px;
}

#container-rodape{
    clear: both;
    background: #294C71;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #FFF;
}